.container {
    display: flex;
    justify-content: left; /* 左に配置 */
    align-items: center;
    width: 100%;
    margin-top: 10px; /* 画像とバーの間に適度なスペース */
}

.bar {
    width: 25%; /* バーの長さを設定 */
    height: 1px;
    background-color: black;
    border-radius: 2px;
    opacity: 0; /* 初期状態で透明 */
    transform: translateX(-50px); /* 初期位置で左にずらす */
    transition: opacity 1s ease, transform 1s ease; /* アニメーションを設定 */
}

.animate {
    opacity: 1; /* アニメーション後、表示 */
    transform: translateX(0); /* 元の位置にスライドイン */
}
