body {
  font-family: "Noto Serif", serif;
}

.title {
  font-family: "Noto Serif", serif;
}

.about {
  font-family: "Noto Serif", serif;
}

.bgc {
  background-color: #f3ecd8;
  max-width: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block; /* inline要素の隙間を防ぐ */
}