body {
  font-family: "Noto Serif", serif;
  display: flex;
  background-color: #f3ecd8;
  flex-direction: column;
}

main {
  flex-grow: 1;
  min-height: 100dvh;
}


.title {
  font-family: "Noto Serif", serif;
}

.about {
  font-family: "Noto Serif", serif;
}

.bgc {
  background-color: #f3ecd8;
  max-width: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block; /* inline要素の隙間を防ぐ */
}