.bgc {
    background-color: #f3ecd8;
}

.container {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f3ecd8;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.article-container {
    max-width: 800px;
    background:#f3ecd8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.article-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.article-container p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.8;
}