.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
}

.work_img {
    width: 400px;
    height: 200px;
    display: block;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 2px solid black;
}

.product_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000;
    text-align: center;
    position: relative;
}

/* 各タイトルの下に横線を追加 */
.product_title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: 1px;
    background-color: #000;
}

.explanation {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-top: 20px;
}